html {
    font-size: 16px;
    color: rgb(61, 61, 61)
}

body {
    margin: 0px;
}

/*Header*/

.title {
    padding-left: 13rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-style: none;
    margin: 0rem;
    color: white;
    background-color: rgb(94, 153, 181);
}

.top-nav {
    padding-left: 13rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: 0rem;
    color: rgb(61, 61, 61);
    background-color: rgb(234, 234, 234);
}

.nav-links {
    color: rgb(61, 61, 61);
    text-decoration: none;
    font-weight: bold;
}

.nav-links:hover {
    text-decoration: underline;
}

h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
}

h2 {
    font-weight: 400;
    font-size: 2rem;
    font-style: italic;
    margin-top: 0rem;
    margin-right: 50rem;
}

/*About*/

.main-box {
    width: 75%;
    border-style: none;
    background: none;
    padding-left: 13rem;
    padding-right: 1rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

.aside-box {
    width: 25%;
    border-style: none;
    background: none;
    padding-left: 3rem;
    padding-right: 10rem; 
    padding-top: 3rem;
    padding-bottom: 3rem; 
}

.main-aside-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

figure {margin-left: 0;}

.links {
    color: rgb(94, 153, 181);
    text-decoration: none;
}

.links:hover {
    text-decoration: underline;
}

.blue {
    color: rgb(94, 153, 181);
    margin-bottom: 0rem;
}

.quote {
    font-size: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.quote-spacing {
    line-height: 2rem;
}

.italic {
    font-style: italic;
    margin-top: 0rem;
}

p {
    line-height: 1.5rem;
}

h3 {
    line-height: 1.5rem;
}

h4 {
    color: rgb(94, 153, 181);
}

/*Kitty Profiles*/

.page-title {
    padding-left: 13rem;
    padding-top: 3rem;
}

.profiles-box {
    width: 75%;
    border-style: none;
    background: none;
    padding-left: 13rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

.profiles-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/*Footer*/

.footer {
    background-color: #3d3d3d;
    color: white;
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 30rem;
    padding-right: 30rem;
    line-height: 1.5rem;
}

.footer-links {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
}

.footer-links:hover {
    text-decoration: underline;
}

* {
    font-family: sans-serif;
}

